In [1]:
import requests
import json
import pandas as pd
import time
import numpy as np
from pandas.io.json import json_normalize

In [2]:
def date_transformation(time_stamp):
    return str(time_stamp).split()[0]

In [3]:
def time_transformation(time_stamp):
    return str(time_stamp).split()[1]

In [4]:
def url_count(urls):
    if type(urls) == type(list()):
        return len(urls)
    else:
        return 0

In [5]:
def user_mentions(users):
    if type(users) == type(list()):
        return len(users)
    else:
        return 0

In [6]:
def media(list_of_media):
    if type(list_of_media) == type(list()) and len(list_of_media) > 0:
        return 1
    else:
        return 0

In [7]:
def is_reply(replies):
    if type(replies) == type(str()):
        return 1
    else:
        return 0

In [8]:
# 'fromDate':'200603210000','toDate':'201904220000'
def twitter_Data(keywords,next_token,toDate):
    if next_token:
        params = {'query':delim.join(keywords),'maxResults':'500',\
                  'toDate':toDate,'next':next_token}
    else:
        params = {'query':delim.join(keywords),'maxResults':'500','toDate':toDate}
    r = requests.get(twitter_url,params=params,headers=header)
    data = r.json()
    try:
        user_cols = list(data['results'][0]['user'].keys())
        df_twitter = json_normalize(data['results'])
        df_twitter.created_at = pd.to_datetime(df_twitter.created_at,infer_datetime_format=True)
        df_twitter['date'] = df_twitter.created_at.agg(date_transformation)
        df_twitter['time'] = df_twitter.created_at.agg(time_transformation)
        df_twitter['urls'] = df_twitter['extended_tweet.entities.urls'].agg(url_count)
        df_twitter['user_mentions'] = df_twitter['entities.user_mentions'].agg(user_mentions)
        df_twitter['contains_media'] = df_twitter['extended_tweet.extended_entities.media'].agg(media)
        df_twitter['reply'] = df_twitter['in_reply_to_screen_name'].agg(is_reply)
        df_twitter['retweeted'] = df_twitter['retweeted']*1
        df_twitter['verified'] = df_twitter['user.verified']*1
        df_twitter['favorited'] = df_twitter['favorited']*1
        df_twitter['geo_enabled'] = df_twitter['user.geo_enabled']*1
        df_twitter['contributors_enabled'] = df_twitter['user.contributors_enabled']*1
        df_twitter['background_image'] = df_twitter['user.profile_use_background_image']*1
        df_cols = ['date','time','user.screen_name','text','user.followers_count','user.friends_count',\
                   'reply_count','retweet_count','user.favourites_count','verified','user.listed_count',\
                   'background_image','user.statuses_count','geo_enabled',\
                   'contributors_enabled','favorited','favorite_count','urls','user_mentions','reply',\
                   'reply_count']
        cols = [col for col in list(df_twitter.columns) if col not in df_cols]
        df_twitter = df_twitter.drop(cols,axis=1)
        if 'next' in list(data.keys()):
            next_token = data['next']
        return df_twitter,next_token
    except:
        return None,None

In [9]:
def stock_Data(ticker,key):
    r_2 = requests.get('https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol='+ticker+\
                   '&apikey='+key+'&outputsize=full')
    if r_2.status_code != 200:
        return None
    else:
        stock_data = r_2.json()
        if 'Time Series (Daily)' in list(stock_data.keys()):
            stock_data = stock_data['Time Series (Daily)']
            stocks = [{'date':day,'data':stock_data[day]} for day in stock_data]
            df_stocks = json_normalize(stocks)
            df_stocks['ticker'] = ticker
            df_stocks.columns = ['open','high','low','close','volume','date','ticker']
            date = df_stocks.date.max().split('-')
            toDate = date[0]+date[1]+date[2]+'0000'
            return df_stocks[df_stocks.date>'2006-03-21'],toDate
        else:
            return None,None

In [10]:
# keywords=[['AAPL','Apple'],['FB','Facebook'],['AMZN','Amazon'],['GOOGL','Google'],['MSFT','Microsoft'],\
#          ['WMT','Walmart'],['BBY','Best Buy'],['KR','Kroger'],['MCD',"McDonald's"],['HD','Home Depot'],\
#          ['NKE','Nike'],['ADDYY','Adidas'],['UAA','Under Armour'],\
#          ['JPM','JPMorgan'],['BRK.A','Berkshire Hathaway'],['GS','Goldman Sachs'],\
#          ['PGR','Progressive'],['ALL','Allstate'],['TRV','Travelers'],['AIG','American International Group'],\
#          ['MET','MetLife'],['UNH','United Healthcare'],['WLP','Wellpoint'],['AET','Aetna'],['CI','Cigna'],\
#          ['HUM','Humana'],['CNC','Centene'],['FCAU','Fiat','Chrysler'],['NSANY','Nissan','Motor'],\
#          ['F','Ford','Motor'],['TSLA','Tesla'],['GM','General','Motors'],['HMC','Honda','Motor'],['BMWYY','BMW'],\
#          ['DDAIF','Daimler','Mercedes'],['VWAGY','Volkswagen'],['TM','Toyota','Motor'],['SBUX','Starbucks'],\
#          ['YUM','Yum!','Brands'],['CMG','Chipotle'],['Burger','King'],['Olive','Garden'],["Domino's",'Pizza'],\
#          ['Panera','Bread'],['Dunkin','Donuts'],["Chili's"],['General','Mills'],['Kraft','Macaroni','Cheese'],\
#          ['Kellogs'],['Nestle'],['POST','Post','Holdings'],['McCormick','Company'],['Sony','Playstation'],['Nintendo'],\
#          ['Puma']]
# tickers = ['AAPL','FB','AMZN','GOOGL','MSFT',\
#           'WMT','BBY','KR','MCD','HD',\
#           'NKE','ADDYY','UAA',\
#           'JPM','BRK','GS',\
#           'PGR','ALL','TRV','AIG','MET',\
#           'UNH','WLP','AET','CI','HUM','CNC',\
#           'FCAU','NSANY','F','TSLA','GM','HMC','BMWYY','DDAIF','VWAGY','TM',\
#           'SBUX','YUM','CMG','QSR','DRI','DPZ','PNRA','DNKN','EAT',\
#           'GIS','KHC','K','NSRGY','POST','MKC',\
#           'SNE','NTDOY','PUMSY']
keywords = [['Sony'],['Nintendo'],['Puma']]
tickers = ['SNE','NTDOY','PUMSY']
stocks = zip(keywords,tickers)

In [11]:
delim = ' '

In [12]:
df_total = pd.read_json('twitter_data.json')

In [13]:
with open('bearer.json') as f:
    bearer = json.load(f)
with open('alpha_vantage_api.json') as f:
    alpha_vantage_api = json.load(f)
key = alpha_vantage_api['key']
token = bearer['access_token']
twitter_url = 'https://api.twitter.com/1.1/tweets/search/30day/dev.json'
header = {'authorization':'Bearer ' + token}

In [14]:
for keyword,ticker in stocks:
    next_token = None
    previous_token = 0
    count = 1
    df_stocks,toDate = stock_Data(ticker,key)
    if df_stocks is not None:
        while True:
            time.sleep(1)
            previous_token = next_token
            df_twitter,next_token= twitter_Data(keyword,next_token,toDate)
            if df_twitter is not None and len(df_twitter) > 0:
                df = df_twitter.merge(df_stocks,on='date')
                if df_total is not None:
                    df_total = pd.concat([df_total,df],axis=0)
                else:
                    df_total = df
                if previous_token == next_token or count == 25:
                    break
                count+= 1
            else:
                break

In [15]:
df_total

,background_image,close,contributors_enabled,date,favorite_count,favorited,geo_enabled,high,low,open,...,urls,user.favourites_count,user.followers_count,user.friends_count,user.listed_count,user.screen_name,user.statuses_count,user_mentions,verified,volume
0,1,195.09,0,1970-01-01 00:00:00.000000001,3,0,0,196.33,189.81,190.02,...,0,35642,64020,11044,1421,Losfinancieros,127149,0,0,51034237
1,0,195.09,0,1970-01-01 00:00:00.000000001,0,0,0,196.33,189.81,190.02,...,0,7466,4264,3648,425,CarlCarano,95931,2,0,51034237
10,1,25.54,0,1970-01-01 00:25:55.459200,0,0,1,25.95,25.415,25.75,...,0,584,508,608,49,ATucci826,28872,2,0,6078311
100,1,25.57,0,1970-01-01 00:25:55.372800,0,0,0,25.67,25.44,25.57,...,0,2435,856,644,3,ShanellMidwest_,95610,0,0,4428696
1000,0,25.57,0,1970-01-01 00:25:55.372800,0,0,0,25.67,25.44,25.57,...,0,2828,1286,2203,1,AndrewL48276395,2106,0,0,4428696
10000,1,191.61,0,1970-01-01 00:25:55.459200,0,0,1,192.35,191.37,192,...,0,4582,598,325,2,f78___,20331,1,0,1875019
100000,1,121.14,0,1970-01-01 00:00:00,0,0,0,121.58,120.57,120.94,...,0,312,48,267,1,S_hiro_designs,224,1,0,10263139
100001,1,1819.26,0,1970-01-01 00:00:00.000000001,0,0,0,1823.75,1787.28,1796.26,...,0,2892,1188,3954,5,9kumichin,45793,2,0,5767797
100002,1,1819.26,0,1970-01-01 00:00:00.000000001,0,0,0,1823.75,1787.28,1796.26,...,0,51720,111,883,6,gmyoheix,22222,1,0,5767797
100003,1,121.14,0,1970-01-01 00:00:00,0,0,0,121.58,120.57,120.94,...,0,2795,38,428,1,n_gdaniels,855,2,0,10263139
100004,1,121.14,0,1970-01-01 00:00:00,0,0,0,121.58,120.57,120.94,...,0,12226,58,200,0,Michael_BuschJr,601,2,0,10263139
100005,0,166.08,0,1970-01-01 00:00:00.000000001,1,0,1,166.39,163.75,164.89,...,1,9,47,124,0,CTVProducciones,988,0,0,16223007
100006,1,121.14,0,1970-01-01 00:00:00,1,0,0,121.58,120.57,120.94,...,0,2014,26,50,0,martin_tapia_ri,1762,2,0,10263139
100007,1,188.02,0,1970-01-01 00:00:00.000000001,0,0,0,188.39,185.79,185.8,...,1,0,99,0,6,UlmHi,111135,0,0,26219832
100008,0,121.14,0,1970-01-01 00:00:00,0,0,1,121.58,120.57,120.94,...,0,3353,82,475,0,Tarsis_OS,814,1,0,10263139
100009,1,121.14,0,1970-01-01 00:00:00,0,0,0,121.58,120.57,120.94,...,0,23,21,27,3,GonzoPD,7204,2,0,10263139
10001,1,191.61,0,1970-01-01 00:25:55.459200,0,0,0,192.35,191.37,192,...,0,4683,1167,1046,25,finthedarkk,40561,1,0,1875019
100010,1,199.07,0,1970-01-01 00:00:00,0,0,1,199.83,198.01,198.58,...,0,4876,487,475,2,Zack__Clayton,12145,1,0,10810988
100011,0,121.14,0,1970-01-01 00:00:00,0,0,1,121.58,120.57,120.94,...,1,1489,4174,829,174,richardblogger,72922,0,0,10263139
100012,1,121.14,0,1970-01-01 00:00:00,0,0,0,121.58,120.57,120.94,...,0,0,32,23,21,hefesoft3,72838,0,0,10263139
100013,0,121.14,0,1970-01-01 00:00:00,0,0,1,121.58,120.57,120.94,...,0,2585,1760,3593,158,sleon,42541,0,0,10263139
100014,1,1819.26,0,1970-01-01 00:00:00.000000001,0,0,0,1823.75,1787.28,1796.26,...,0,1493,9,83,0,hlsw888,2153,0,0,5767797
100015,1,121.14,0,1970-01-01 00:00:00,0,0,0,121.58,120.57,120.94,...,0,644,156,207,3,CeBrusa,284,4,0,10263139
100016,1,121.14,0,1970-01-01 00:00:00,0,0,1,121.58,120.57,120.94,...,0,9286,389,5057,1,2014melissaking,8623,2,0,10263139
100017,1,121.14,0,1970-01-01 00:00:00,0,0,0,121.58,120.57,120.94,...,0,4,186,268,39,Softwareprductz,13241,0,0,10263139
100018,0,120.22,0,1970-01-01 00:00:00.000000001,0,0,1,120.82,117.09,117.135,...,0,5734,4271,397,200,gshackles,20769,1,0,29854446
100019,1,166.08,0,1970-01-01 00:00:00.000000001,0,0,0,166.39,163.75,164.89,...,0,4,95,269,1,BabyFrost313,25528,0,0,16223007
10002,1,120.22,0,1970-01-01 00:00:00.000000001,0,0,0,120.82,117.09,117.135,...,0,32491,669,460,18,Gabadabs,65016,1,0,29854446
100020,1,121.14,0,1970-01-01 00:00:00,0,0,1,121.58,120.57,120.94,...,0,7051,97,1622,3,KingJowy,1931,2,0,10263139
100021,0,121.14,0,1970-01-01 00:00:00,0,0,0,121.58,120.57,120.94,...,0,288,53,291,6,pedrr,760,0,0,10263139
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,1,38.7200,0,2019-04-17,0,0,0,39.0000,38.5300,38.8500,...,0,5692,257,303,0,Tailor_Taylor,7678,2,0,404697
471,1,38.7200,0,2019-04-17,0,0,1,39.0000,38.5300,38.8500,...,0,406,24,130,1,Pasmameg,361,1,0,404697
472,1,38.7200,0,2019-04-17,0,0,0,39.0000,38.5300,38.8500,...,0,6,1,7,0,Mrmr27563130,8,1,0,404697
473,0,38.7200,0,2019-04-17,0,0,0,39.0000,38.5300,38.8500,...,0,1914,314,50,0,WOOMYWOOSH,564,2,0,404697
474,1,38.7200,0,2019-04-17,0,0,0,39.0000,38.5300,38.8500,...,0,18654,78,1196,2,chasegeller33,2453,2,0,404697
475,0,38.7200,0,2019-04-17,0,0,0,39.0000,38.5300,38.8500,...,0,81,11,71,0,CPLiquid,218,2,0,404697
476,1,38.7200,0,2019-04-17,0,0,1,39.0000,38.5300,38.8500,...,0,1750,29,61,1,SnarlAtSeiba,787,2,0,404697
477,1,38.7200,0,2019-04-17,0,0,0,39.0000,38.5300,38.8500,...,0,27784,140,586,0,KhalilAnkrah,14456,1,0,404697
478,1,38.7200,0,2019-04-17,0,0,1,39.0000,38.5300,38.8500,...,0,995,72,279,3,KingofLight22,4437,2,0,404697
479,1,38.7200,0,2019-04-17,0,0,0,39.0000,38.5300,38.8500,...,0,15,4,150,0,n8duhgr8,160,2,0,404697
480,1,38.7200,0,2019-04-17,0,0,0,39.0000,38.5300,38.8500,...,0,10720,130,1463,0,edoMat1,5383,1,0,404697
481,1,38.7200,0,2019-04-17,0,0,0,39.0000,38.5300,38.8500,...,0,97,91,206,0,joshpastoors,521,2,0,404697
482,1,38.7200,0,2019-04-17,0,0,0,39.0000,38.5300,38.8500,...,0,81,5,18,0,ToddHowardTodd,45,1,0,404697
483,0,38.7200,0,2019-04-17,0,0,0,39.0000,38.5300,38.8500,...,0,25902,75,384,0,CousinBBK,3563,2,0,404697
484,0,38.7200,0,2019-04-17,0,0,1,39.0000,38.5300,38.8500,...,0,3250,475,1916,65,kube00,36075,2,0,404697
485,1,38.7200,0,2019-04-17,0,0,0,39.0000,38.5300,38.8500,...,0,332,110,104,4,Ghrite,11900,2,0,404697
486,1,38.7200,0,2019-04-17,0,0,0,39.0000,38.5300,38.8500,...,0,3795,4,129,0,halcyon_clouds,962,1,0,404697
487,1,38.7200,0,2019-04-17,4,0,0,39.0000,38.5300,38.8500,...,0,10725,1193,1187,12,illeeyan,3568,0,0,404697
488,1,38.7200,0,2019-04-17,0,0,0,39.0000,38.5300,38.8500,...,0,5302,266,784,13,LonelyAgus,21078,1,0,404697
489,0,38.7200,0,2019-04-17,0,0,0,39.0000,38.5300,38.8500,...,0,15193,28,244,0,_Viatsu,7587,2,0,404697
490,1,38.7200,0,2019-04-17,0,0,0,39.0000,38.5300,38.8500,...,0,848,10,570,0,_T_Two,146,2,0,404697
491,1,38.7200,0,2019-04-17,0,0,0,39.0000,38.5300,38.8500,...,0,13,26,173,1,chris1138,402,2,0,404697
492,1,38.7200,0,2019-04-17,0,0,0,39.0000,38.5300,38.8500,...,0,54,42,261,1,leon_barber,161,2,0,404697
493,1,38.7200,0,2019-04-17,0,0,0,39.0000,38.5300,38.8500,...,0,54,42,261,1,leon_barber,161,2,0,404697
494,1,38.7200,0,2019-04-17,0,0,1,39.0000,38.5300,38.8500,...,0,75053,196,530,8,ghostmustard,14338,1,0,404697
495,0,38.7200,0,2019-04-17,0,0,0,39.0000,38.5300,38.8500,...,0,44794,76,800,0,zaphhyy,2384,2,0,404697
496,0,38.7200,0,2019-04-17,0,0,1,39.0000,38.5300,38.8500,...,0,6254,237,273,13,roseoutlaw88,3825,1,0,404697
497,1,38.7200,0,2019-04-17,0,0,0,39.0000,38.5300,38.8500,...,0,1982,31,334,1,DarkJiku,1130,4,0,404697
498,0,38.7200,0,2019-04-17,0,0,0,39.0000,38.5300,38.8500,...,0,1183,7,29,0,SatanSama7,123,1,0,404697
499,1,38.7200,0,2019-04-17,0,0,0,39.0000,38.5300,38.8500,...,0,2854,7,173,0,godofconquest0,576,2,0,404697

In [16]:
idx = pd.Index(range(len(df_total))).unique()

In [17]:
df = pd.DataFrame(df_total.values,columns=list(df_total.columns),index=idx)

In [18]:
df.to_json('twitter_stock_data.json')